<ion-header>
  <ion-toolbar>
    <ion-title>
      Todo List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="col-xs-12" style="margin-left: 10vh;">
    <h2>Liste d'utilisateurs</h2>
    
    <ul class="list-group">
      <app-user-list *ngFor = "let user of listUsers"  
                    [id] = "user.id"
                    [name] = "user.name"
                    [user] = "user"
      ></app-user-list>
    </ul>
  </div>

  
</ion-content> 